<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Crear Referencia</title>
    <link rel="icon" href="/img/icono.jpeg" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/recursos/icono.png" />
  </head>

  <body class="baseReferencia">
    <%- include('./header_admin.ejs') %>
    <form action="./crearProducto" method="post">
      <div class="base2">
        <div class="base">
          <div class="derecha">
            <label for="referencia">Referencia</label>
            <input type="text" id="referencia" name="referencia" />
            <label for="color">Color</label>
            <input type="text" id="color" name="color" />
            <label for="descripcionP">Descripcion del producto</label>
            <input
              class="descripcion"
              type="text"
              id="descripcion"
              name="descripcion"
            />
          </div>
          <div class="izquierda">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" />
            <label for="precioM">Precio Mercado</label>
            <input type="text" id="precio_mercado" name="precio_mercado" />
            <label for="costoP">Costo produccion</label>
            <input type="text" id="costo_produccion" name="costo_produccion" />
            <a href="#"><button type="submit">Agregar Referencia</button></a>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
