<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/styleProducto.css"/>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- custom js file link  -->
    <script src="../js/scriptProducto.js" defer></script>

    <!-- Boxicons CSS -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../recursos/icono.png" />
    <title>DEZENA | WebPage</title>
    <script src="../js/jquery-3.2.1.js"></script>
	  <script src="../js/script2.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-bar">
          <i class="bx bx-menu sidebarOpen"></i>
          <img class="img__menus" src="../recursos/icono-nav.jpeg" alt="" />

          <div class="menu">
            <div class="logo-toggle">
              <img class="img__menu" src="../recursos/icono-nav.jpeg" alt="" />
              <i class="bx bx-x sidebarClose"></i>
            </div>

            <ul class="nav-links">
              <li><a href="/productosHombre" class="active">HOMBRE</a></li>
              <li><a href="/productosMujer">MUJER</a></li>
              <li><a href="/productosOutlet">OUTLET</a></li>
              <li><a href="/productosNovedades">NOVEDADES</a></li>
            </ul>
          </div>

          <div class="searchBox">
            <div class="searchBoxx">
              <div class="searchToggle">
                <i class="bx bx-x cancel"></i>
                <i class="bx bx-search search"></i>
              </div>
              <div class="search-field">
                <input type="text" placeholder="Search..." />
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="mensajeMujer">
      <h2>Productos para Hombres</h2>
    </div>
    <div class="mensajeMujer2">
      <h2>
        Los productos de marroquinería son mucho más que accesorios;  <br />
        son una declaración de sofisticación y elegancia para el hombre contemporáneo.
      </h2>
    </div>
    <div class="category_list">
      <a href="#container" class="category_item" category="all">Todo</a>
      <a href="#container" class="category_item" category="bolsos">Bolsos</a>
      <a href="#container" class="category_item" category="carteras">Carteras</a>
      <a href="#container" class="category_item" category="correas">Correas</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="container">
      <div class="products-container">
        <div class="product" data-name="p-1" category="carteras">
          <img src="../recursos/vendidos-secundarios2.jpg" alt="" />
          <h3>FERRUM</h3>
          <div class="price">$35.00</div>
        </div>

        <div class="product" data-name="p-2" category="carteras">
          <img src="../recursos/vendidos-secundarios3.jpg" alt="" />
          <h3>GOLD NUGGET</h3>
          <div class="price">$35.00</div>
        </div>

        <div class="product" data-name="p-3" category="carteras">
          <img src="../recursos/vendidos-secundarios9.png" alt="" />
          <h3>MAGNUS</h3>
          <div class="price">$20.00</div>
        </div>

        <div class="product" data-name="p-4" category="bolsos">
          <img src="../recursos/vendidos-secundarios11.png" alt="" />
          <h3>SAINT JOHN</h3>
          <div class="price">$75.00</div>
        </div>

        <div class="product" data-name="p-5" category="correas">
          <img src="../recursos/vendidos-secundarios13.png" alt="" />
          <h3>DEZENA</h3>
          <div class="price">$18.00</div>
        </div>

        <div class="product" data-name="p-6" category="carteras">
          <img src="../recursos/vendidos-secundarios16.png" alt="" />
          <h3>CJ</h3>
          <div class="price">$22.00</div>
        </div>

        <div class="product" data-name="p-7" category="correas">
          <img src="../recursos/vendidos-secundarios17.png " alt="" />
          <h3>ZIRCON</h3>
          <div class="price">$50.00</div>
        </div>

        <div class="product" data-name="p-8" category="carteras">
          <img src="../recursos/vendidos-secundarios18.png " alt="" />
          <h3>DZ</h3>
          <div class="price">$25.00</div>
        </div>

        <div class="product" data-name="p-9" category="carteras">
          <img src="../recursos/vendidos-secundarios19.png " alt="" />
          <h3>HB</h3>
          <div class="price">$28.00</div>
        </div>

        <div class="product" data-name="p-10" category="carteras">
          <img src="../recursos/vendidos-secundarios25.png " alt="" />
          <h3>CITY</h3>
          <div class="price">$25.00</div>
        </div>

        <div class="product" data-name="p-11" category="carteras">
          <img src="../recursos/vendidos-secundarios26.png " alt="" />
          <h3>KANGAROO</h3>
          <div class="price">$25.00</div>
        </div>
      </div>
    </div>

    <div class="products-preview">
      <div class="preview" data-target="p-1">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios2.jpg" alt="" />
        <h3>FERRUM</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
          <p>
            Es una billetera Bifold, que combina dos colores de una manera sutil.
          </p>
          <div class="price">$35.00</div>
        </div>
      </div>

      <div class="preview" data-target="p-2">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios3.jpg" alt="" />
        <h3>GOLD NUGGET</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Es una billetera Bifold, que combina dos colores de una manera sutil.
        </p>
        <div class="price">$35.00</div>
      </div>

      <div class="preview" data-target="p-3">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios9.png" alt=""/>
        <h3>MAGNUS</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Billetera bi-fold moderna ultra Slim delgada, y excepcionalmente flexible. 
          El diseño simple y sin forros adicionales la hace una verdadera 
          minimalista donde menos es mas. 
          Producto artesanal elaborado con 100% cuero vacuno.
        </p>
        <div class="price">$80.00</div>
      </div>

      <div class="preview" data-target="p-4">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios11.png" alt="" />
        <h3>SAINT JOHN</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Morral clasico de tendencia minimalista con un tamaño ideal para uso cotidiano.
          Su cuero graso da un toque suave al tacto.
        </p>
        <div class="price">$75.00</div>
      </div>

      <div class="preview" data-target="p-5">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios13.png" alt="" />
        <h3>DEZENA</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Correa de hebilla ovalada y con grabado.
        </p>
        <div class="price">$18.00</div>
      </div>

      <div class="preview" data-target="p-6">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios16.png" alt=""/>
        <h3>CJ</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Confeccionado en cuero con relieve de cocodrilo
        </p>
        <div class="price">$22.00</div>
      </div>

      <div class="preview" data-target="p-7">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios17.png" alt="" />
        <h3>ZIRCON</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Correa de cuero con hebilla recta.
        </p>
        <div class="price">$20.00</div>
      </div>

      <div class="preview" data-target="p-8">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios18.png" alt="" />
        <h3>DZ</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Es una billetera clásica, de tres cuerpos, 
          confeccionada en cuero liso de excelente calidad .
        </p>
        <div class="price">$25.00</div>
      </div>

      <div class="preview" data-target="p-9">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios19.png" alt="" />
        <h3>HB</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Es una billetera que combina dos colores y dos texturas de cuero.
        </p>
        <div class="price">$28.00</div>
      </div>

      <div class="preview" data-target="p-10">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios25.png" alt="" />
        <h3>CITY</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Billetera con clip para billetes, tamaño perfecto si busca llevar una 
          cartera en espacio reducido con alta capacidad para billetes y tarjetas.
          Guarda discretamente todo lo que necesites.
        </p>
        <div class="price">$25.00</div>
      </div>

      <div class="preview" data-target="p-11">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios26.png" alt="" />
        <h3>KANGAROO</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Billetera diseñada para combinar mejor elegancia, comodidad y conveniencia
          Confeccionada en lujoso cuero vacuno, que es a la vez suave y duradero, 
          lo que garantiza una sensacion y un aspecto suave. Incluye un tarjetero.
        </p>
        <div class="price">$25.00</div>
      </div>

    </div>
    <footer class="pie_pagina">
      <div class="redes">
        <div class="logo-footer">
          <img src="/recursos/footer.jpeg" />
        </div>
        <div class="contact">CONTACTANOS</div>
        <div class="footer__socials">
          <a
            href="https://wa.me/573183567218?text=Hola, DEZENA"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-whatsapp"></i>
          </a>
          <a
            href="https://www.facebook.com/dezenagroup"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/dezenaleather/"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-instagram"></i>
          </a>
        </div>
      </div>
      <div class="links">
        LINKS DE INTERES<br /><br />
        <a href="#">¿Quienes Somos?</a><br /><br />
        <a href="#">¿Donde nos ubicamos?</a><br /><br />
        <a href="#">OUTLET</a><br /><br />
        <a href="#">Novedades</a>
        <p></p>
      </div>
      <div class="importante">
        <p>
          <center>
            Productos únicos, hechos a mano<br />
            con pasión y auntenticidad.
          </center>
        </p>
        <br />
        <div class="suscripcion">SUSCRIBETE</div>
        <br /><br />
        <input type="text" class="correo" />
      </div>
      <div class="derechos"></div>
    </footer>
    <div class="contant-plataforma">
      <div class="containt-plataforma">
        <a class="option">Envio</a>
        |<!---Al ser "|"un caracter sin etiqueta no ocupa una linea, la etiqueta "a" es una etiqueta en linea, 
                de esta manera quedan en la misma linea sin necesidad de utilizar configuracion en css-->
        <a class="option">Politicas</a>
        |
        <a class="option">Plataforma</a>
      </div>
    </div>
    <script>
      function redireccionar(url) {
        window.location.href = url;
      }
    </script>
    <script src="../js/scrip.js"></script>
  </body>
</html>
