<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/styleProducto.css"/>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- custom js file link  -->
    <script src="../js/scriptProducto.js" defer></script>

    <!-- Boxicons CSS -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../recursos/icono.png" />
    <title>DEZENA | WebPage</title>
    <script src="../js/jquery-3.2.1.js"></script>
	  <script src="../js/script2.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-bar">
          <i class="bx bx-menu sidebarOpen"></i>
          <img class="img__menus" src="../recursos/icono-nav.jpeg" alt="" />

          <div class="menu">
            <div class="logo-toggle">
              <img class="img__menu" src="../recursos/icono-nav.jpeg" alt="" />
              <i class="bx bx-x sidebarClose"></i>
            </div>

            <ul class="nav-links">
              <li><a href="/productosHombre">HOMBRE</a></li>
              <li><a href="/productosMujer">MUJER</a></li>
              <li><a href="/productosOutlet" class="active">OUTLET</a></li>
              <li><a href="/productosNovedades">NOVEDADES</a></li>
            </ul>
          </div>

          <div class="searchBox">
            <div class="searchBoxx">
              <div class="searchToggle">
                <i class="bx bx-x cancel"></i>
                <i class="bx bx-search search"></i>
              </div>
              <div class="search-field">
                <input type="text" placeholder="Search..." />
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="mensajeMujer">
      <h2>Productos en OUTLET</h2>
    </div>
    
    <div class="container" id="container">
      <div class="products-container">
        <div class="product" data-name="p-1" category="bolsos">
          <img src="../recursos/vendidos-secundarios4.jpg" alt="" />
          <h3>ELAINER</h3>
          <div class="price">$35.00</div>
        </div>

        <div class="product" data-name="p-2" category="bolsos">
          <img src="../recursos/vendidos-secundarios1.jpg" alt="" />
          <h3>ZAFIRO</h3>
          <div class="price">$35.00</div>
        </div>

        <div class="product" data-name="p-3" category="bolsos">
          <img src="../recursos/vendidos-secundarios8.png" alt="" />
          <h3>LADY MINI BAG</h3>
          <div class="price">$22.00</div>
        </div>

        <div class="product" data-name="p-4" category="bolsos">
          <img src="../recursos/vendidos-secundarios11.png" alt="" />
          <h3>SAINT JOHN</h3>
          <div class="price">$75.00</div>
        </div>

        <div class="product" data-name="p-5" category="correas">
          <img src="../recursos/vendidos-secundarios13.png" alt="" />
          <h3>DEZENA</h3>
          <div class="price">$18.00</div>
        </div>

        <div class="product" data-name="p-6" category="carteras">
          <img src="../recursos/vendidos-secundarios16.png" alt="" />
          <h3>CJ</h3>
          <div class="price">$22.00</div>
        </div>
      </div>
    </div>

    <div class="products-preview">
      <div class="preview" data-target="p-1">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios4.jpg" alt="" />
        <h3>ELAINER</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
          <p>
            Bolso tipo bandolero horizontal.
          </p>
          <div class="price">$35.00</div>
        </div>
      </div>

      <div class="preview" data-target="p-2">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios1.jpg" alt="" />
        <h3>ZAFIRO</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Bolso bandolera de cuero 100% natural. El modelo perfecto
          para diario ahora con un toque chic. Un modelo clasico, 
          super comodo y muy versatil de gran capacidad en espacio
          reducido.
        </p>
        <div class="price">$35.00</div>
      </div>

      <div class="preview" data-target="p-3">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios8.png" alt="" />
        <h3>LADY MINI BAG</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Bolso bucket pequeño fabricado en cuero vacuno con cierre de cordon
          ajustable. Bandolera ajustable para llevarlo al hombro o cruzado.
        </p>
        <div class="price">$22.00</div>
      </div>

      <div class="preview" data-target="p-4">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios11.png" alt="" />
        <h3>SAINT JOHN</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Morral clasico de tendencia minimalista con un tamaño ideal para uso cotidiano.
          Su cuero graso da un toque suave al tacto.
        </p>
        <div class="price">$75.00</div>
      </div>

      <div class="preview" data-target="p-5">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios13.png" alt="" />
        <h3>DEZENA</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Correa de hebilla ovalada y con grabado.
        </p>
        <div class="price">$18.00</div>
      </div>

      <div class="preview" data-target="p-6">
        <i class="fas fa-times"></i>
        <img src="../recursos/vendidos-secundarios16.png" alt=""/>
        <h3>CJ</h3>
        <div class="tabla">
          <table>
            <tr>
              <th>PUNTO FISICO</th>
              <th>DISPONIBLE</th>
            </tr>
            <tr>
              <td>MERIDA A</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>MERIDA B</td>
              <td>SI</td>
            </tr>
            <tr>
              <td>CUCUTA</td>
              <td>SI</td>
            </tr>
          </table>
        </div>
        <p>
          Confeccionado en cuero con relieve de cocodrilo
        </p>
        <div class="price">$22.00</div>
      </div>
    </div>
    <footer class="pie_pagina">
      <div class="redes">
        <div class="logo-footer">
          <img src="/recursos/footer.jpeg" />
        </div>
        <div class="contact">CONTACTANOS</div>
        <div class="footer__socials">
          <a
            href="https://wa.me/573183567218?text=Hola, DEZENA"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-whatsapp"></i>
          </a>
          <a
            href="https://www.facebook.com/dezenagroup"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/dezenaleather/"
            class="footer__social"
            target="_blank"
          >
            <i class="uil uil-instagram"></i>
          </a>
        </div>
      </div>
      <div class="links">
        LINKS DE INTERES<br /><br />
        <a href="#">¿Quienes Somos?</a><br /><br />
        <a href="#">¿Donde nos ubicamos?</a><br /><br />
        <a href="#">OUTLET</a><br /><br />
        <a href="#">Novedades</a>
        <p></p>
      </div>
      <div class="importante">
        <p>
          <center>
            Productos únicos, hechos a mano<br />
            con pasión y auntenticidad.
          </center>
        </p>
        <br />
        <div class="suscripcion">SUSCRIBETE</div>
        <br /><br />
        <input type="text" class="correo" />
      </div>
      <div class="derechos"></div>
    </footer>
    <div class="contant-plataforma">
      <div class="containt-plataforma">
        <a class="option">Envio</a>
        |<!---Al ser "|"un caracter sin etiqueta no ocupa una linea, la etiqueta "a" es una etiqueta en linea, 
                de esta manera quedan en la misma linea sin necesidad de utilizar configuracion en css-->
        <a class="option">Politicas</a>
        |
        <a class="option">Plataforma</a>
      </div>
    </div>
    <script>
      function redireccionar(url) {
        window.location.href = url;
      }
    </script>
    <script src="../js/scrip.js"></script>
  </body>
</html>
