<!DOCTYPE html>
<html lang="es">

<head>
  <title>Vendedor</title>
  <link rel="icon" href="./img/icono.jpeg" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="shortcut icon" href="/recursos/icono.png" />
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <%- include('./header_vendedor.ejs') %>
  <div class="inicio">
    <div class="botones">
      <div>
        <a href="AgregarProducto.html">
          <button>Confirmacion de Envios</button></a>
      </div>
      <div>
        <a href="#"><button>Registrar Venta</button></a>
      </div>
      <div>
        <a href="#"><button>Historial de ventas</button></a>
      </div>
    </div>
    <img src="./recursos/DZ1.png" alt="" />
  </div>
</body>

</html>