.navbar {
    border-bottom: 2px solid #000;
    height: 80px;
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #000;
}


.btn.btn-primary {
    background-color: #646464;
    color: white;
    font-weight: normal;
}