body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.form1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 30px;
}

label {
    color: #777;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

@media screen and (max-width: 390px) {
    .form1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
    }
}


.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 10px 20px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form2 {
    width: 50%;
    margin: 0;
    padding: 20px;
    float: right;
}

.form2 div {
    margin-bottom: 10px;
}

label {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
}

select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registrar{
    display: grid;
    grid-template-columns: 1fr;
}